{
    "github-oauth": {
        "github.com": "{{ composer_github_oauth_token }}"
    },
    "http-basic": {
        "repo.magento.com": {
            "username": "{{ magento_auth_user }}",
            "password": "{{ magento_auth_password }}"
        }
        {% if composer_auths is defined %}
            {% for auth in composer_auths %}
                ,
                "{{ auth.url }}": {
                    "username": "{{ auth.user | default('') }}",
                    "password": "{{ auth.password | default('') }}"
                }
            {% endfor %}
        {% endif %}
    }
}
