{
    "github-oauth": {
        "github.com": "{{ composer_github_oauth_token }}"
    },
    "http-basic": {
        "repo.magento.com": {
            "username": "{{ magento_auth_user }}",
            "password": "{{ magento_auth_password }}"
        }
    }
}
